
<body>


  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo"> MeVolve</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Home</a></li>
        <li><a href="/">Features</a></li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/">Contact-Us</a></li>

      </div>
    </ul>
  </nav>

</body>

<br>

<div class="container" style="">
  <div class="column content">
    <p style="font-size: 28px; font-weight: 600;">Automate self-development</p>
    <p style="color: lightslategrey;font-size: 15px;">Evolve daily by efficiently managing your time, thoughts,
      tasks and routines in a simple app..</p>
    <br>
    <a class="watch-video-button" href="#">Watch Video</a>
    <br>
    <br><br>


    <a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn apple-btn" role="button">
      <span class="market-button-subtitle">Download on the</span>
      <span class="market-button-title">App Store</span>
    </a>
    &nbsp;&nbsp;&nbsp;

    <a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn google-btn" role="button">
      <span class="market-button-subtitle">Download on the</span>
      <span class="market-button-title">Google Play</span>
    </a>
  </div>

  <div class="column image" style="padding-left: 12%;">
    <img src="https://cdn.dribbble.com/users/1786581/screenshots/14088497/1.png" alt="Image">
  </div>
</div>
<br>

<div class="header">
  <h3>One App To Rule Them All</h3>
</div>

<div class="gridsystem">
  
  <div class="col">
    <p>
      <img src="https://img.icons8.com/sf-black-filled/64/228BE6/overview-pages-3.png" alt="overview-pages-3" />
      ToDo-List
    </p>
  </div>
  <div class="col">
    <p>
      <img src="https://img.icons8.com/ios-filled/50/228BE6/rfid-signal.png" alt="rfid-signal" />
      Habit Tracker
    </p>
  </div>
  <div class="col">
    <p>
      <img src="https://img.icons8.com/ios-filled/50/228BE6/journal.png" alt="journal" />
      Journaling
    </p>
  </div>
  <div class="col">
    <p>
      <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/228BE6/task.png" alt="task" />
      Notes
    </p>
  </div>
  <div class="col">
    <p>
      <img src="https://img.icons8.com/sf-black-filled/64/228BE6/list.png" alt="list" />
      List
    </p>
  </div>
</div>

<br>


<div class="container container2">

  <div class="image2 cell1">
    <img src="https://taskio.app/images/feature2.png" alt="Image">
  </div>


  <div class="content2 cell1">
    <h3 style="padding-right: 30%;
     font-weight: 600;">Customize the way you like</h3>

    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="color: #1DA1F2;
            font-size: 20px;"> <img width="30" height="30"
                src="https://img.icons8.com/ios-filled/30/22C3E6/toggle-on.png" alt="toggle-on" /> Turn Off-On the
              features</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>
      </mat-expansion-panel>
    </div>
    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;"><img width="30" height="30"
                src="https://img.icons8.com/ios/50/1A1A1A/laser-beam.png" alt="laser-beam" /> Light and Dark mode</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>

      </mat-expansion-panel>
    </div>

    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;"><img width="30" height="30"
                src="https://img.icons8.com/ios/50/paint-palette.png" alt="paint-palette" /> Multi-theme colors</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>

      </mat-expansion-panel>
    </div>


  </div>
</div>

<br><br>


<div class="container container3">
  <div class="image image3">
    <!-- Right side image -->
    <img src="https://taskio.app/images/feature2.png" alt="Image">
  </div>

  <div class="content content3">
    <h3 style="padding-right: 30%; font-weight: 600;">Customize the way you like</h3>

    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="color: #1DA1F2; font-size: 20px;">
              <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/22C3E6/toggle-on.png"
                alt="toggle-on" /> Turn Off-On the features
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="color: #9E9E9E; font-size: 20px;">Mevolve was developed to help you reach your goals and be more
          consistent.</p>
      </mat-expansion-panel>
    </div>
    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;">
              <img width="30" height="30" src="https://img.icons8.com/ios/50/1A1A1A/laser-beam.png" alt="laser-beam" />
              Light and Dark mode
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="color: #9E9E9E; font-size: 20px;">Mevolve was developed to help you reach your goals and be more
          consistent.</p>
      </mat-expansion-panel>
    </div>
    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;">
              <img width="30" height="30" src="https://img.icons8.com/ios/50/paint-palette.png" alt="paint-palette" />
              Multi-theme colors
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="color: #9E9E9E; font-size: 20px;">Mevolve was developed to help you reach your goals and be more
          consistent.</p>
      </mat-expansion-panel>
    </div>
  </div>
</div>


<br><br>

<div class="container container2">

  <div class="image2">
    <img src="https://i1.wp.com/uxdworld.com/wp-content/uploads/2019/03/date_range_picker-1.png?resize=696%2C522&ssl=1"
      alt="Image">
  </div>


  <div class="content2">
    <h3 style="padding-right: 30%;
     font-weight: 600;">Customize the way you like</h3>

    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="color: #1DA1F2;
            font-size: 20px;"> <img width="30" height="30"
                src="https://img.icons8.com/ios-filled/30/22C3E6/toggle-on.png" alt="toggle-on" /> Turn Off-On the
              features</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>
      </mat-expansion-panel>
    </div>
    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;"><img width="30" height="30"
                src="https://img.icons8.com/ios/50/1A1A1A/laser-beam.png" alt="laser-beam" /> Light and Dark mode</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>

      </mat-expansion-panel>
    </div>

    <br>
    <div style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="font-size: 20px;"><img width="30" height="30"
                src="https://img.icons8.com/ios/50/paint-palette.png" alt="paint-palette" /> Multi-theme colors</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p style="color: #9E9E9E;font-size: 20px;">Mevolve was developed to help you reach your goals and
          be more consistent.</p>

      </mat-expansion-panel>
    </div>


  </div>
</div>


<br><br>


<div class="boxcontainer">
  <div class="box">
    <div style="margin-top: 7%;">
      <p style="text-align: center;">Set Psscode</p>
    </div>
    <div style="display: flex;justify-content: center;text-align: center;">
      <div class="box1">
        <div class="dot"></div>
      </div>
      <div class="box1">
        <div class="dot"></div>
      </div>
      <div class="box1">
        <div class="dot"></div>
      </div>
      <div class="box1">
        <div class="dot"></div>
      </div>

    </div>
    <br>
    <a class="passcode-button" href="#">Set Passcode</a>

  </div>

  <div class="boxcontent">
    <h3 style="font-size: 26px; font-weight: 600;">Customize way you like</h3>
    <p>.Turn off-on the features that you want to see</p>
    <p>.Light and dark theme</p>
    <p>.Multi-theme Color</p>

  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br>

<div class="lastoboxcontainer">
  <div class="boxcontent colums">
    <h3 style="font-size: 26px; font-weight: 600;">Customize way you like</h3>
    <p>.Turn off-on the features that you want to see</p>
    <p>.Light and dark theme</p>
    <p>.Multi-theme Color</p>

  </div>


  <div class="custoimage colums">
    <img style="width: 400px; height: 500px;" src="https://taskio.app/images/feature2.png" alt="Image">

  </div>


</div>



<br><br>
<div class="borderplaybutton">
  <div class="videoplay">
    <img style="width: 400px; height: 250px;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh4BR4-BUwldroDTjoSr5kiGVTz6A6yGmdRg&usqp=CAU" alt="">
    <br><br>
    <p style="color: #9E9E9E;">Watch Mevolve demo video to understand
      the application.</p>
  </div>
</div>




<br><br><br><br><br><br><br><br><br><br>


<div class="alignbox">
  <div class="align">
    <h3>$0</h3>
    <br><br>
    <p>Free</p>
    <h5>(For 30 Days)</h5>
  </div>
  <div class="align">
    <h3>$3.99</h3>
    <br><br>
    <p>Per Month</p>
    <h5>(Monthly Billing)</h5>
  </div>
  <div class="align">
    <h3>$2.99</h3>
    <br><br>
    <p>Per Year</p>
    <h5>(Yearly Billing)</h5>
  </div>
</div>


<div class="bigbox">
  <div class="bigbox1">
    <h4>What we offer</h4>
    <br><br>
    <p><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/22C3E6/plus-2-math--v1.png"
        alt="plus-2-math--v1" />&nbsp;&nbsp; Add Todos, Habits, Journals and Notes in a single app.</p>
    <br>
    <p><img width="24" height="24"
        src="https://img.icons8.com/external-stick-figures-gan-khoon-lay/24/22C3E6/external-exercise-yoga-stick-figures-gan-khoon-lay-3.png"
        alt="external-exercise-yoga-stick-figures-gan-khoon-lay-3" />&nbsp;&nbsp;Four types of Habit Tracking.</p>
    <br>
    <p><img width="24" height="24" src="https://img.icons8.com/ios-filled/24/22C3E6/high-connection.png"
        alt="high-connection" />&nbsp;&nbsp;Track Todos, Habits, Journals and Notes with daily values.</p>
    <br>
    <p><img width="24" height="24" src="https://img.icons8.com/windows/24/22C3E6/happy--v1.png"
        alt="happy--v1" />&nbsp;&nbsp;Update your Mood and Pictures in Journal and Notes section.</p>
    <br>
    <p><img width="24" height="24" src="https://img.icons8.com/ios/24/22C3E6/paint-palette.png"
        alt="paint-palette" />&nbsp;&nbsp;Customize the app color.</p>
    <br>
    <p><img width="24" height="24" src="https://img.icons8.com/pastel-glyph/24/22C3E6/appointment-reminders.png"
        alt="appointment-reminders" />&nbsp;&nbsp;Notification and Reminders.</p>
    <br>
    <p><img width="24" height="24" src="https://img.icons8.com/ios/24/22C3E6/lock--v1.png"
        alt="lock--v1" />&nbsp;&nbsp;Lock Pin</p>
  </div>
</div>



<div class="mainformbox">
  <br><br>
  <h2 style="text-align: center;">Get in touch</h2>
  <p style="text-align: center;">Our friendly team would love to hear from you !</p>


  <div class="body">
    <div class="forquery">
      <form>
        <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Your Name</label>
          <input style="width: 100%; height: 40px;" type="email" placeholder="e.g. Joseph" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Your Mail</label>
          <input style="width: 100%;height: 40px;" type="password" placeholder="e.g, joseph687@gmail.com"
            class="form-control" id="exampleInputPassword1">
        </div>
        <br>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea style="width: 100%;height: 70px;" class="form-control" placeholder="Let us know your thoughts..."
            class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <a class="form-button" href="#">Send Message</a>
      </form>
    </div>
  </div>
</div>

<!-- footer  -->






<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>


<div class="container-fluid mt-5">
  <div class="card mx-0" style="background: #424242;">
    <br><br>
    <div class="row mb-2">
      <div class="col-md-4 col-sm-4 col-xs-2">
        <div class="footer-text pull-left " style="margin-left: 10%;">
          <div class="d-flex">
            <h1 class="font-weight-bold mr-0 px-2" style="color:white;">ME</h1>
            <h1 style="color: #ffffff">volve</h1>
          </div>
          <p class="card-text" style="color: #949C9E;">Evolve daily by efficiently managing your time, thoughts,
            tasks and routines in a simple app.</p>

        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="heading">Sitemap</h5>
        <ul>
          <li>About Us</li>
          <li>Services</li>
          <li>Blogs</li>
          <li>Team</li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="heading" style="color: #949C9E;font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;">Product</h5>
        <ul class="card-text">
          <li>Pricing</li>
          <li>Features</li>
          <li>Customers</li>
          <li>Feedback</li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="heading" style="color: #949C9E;font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;">Legal</h5>
        <ul class="card-text">
          <li>Terms & Condition</li>
          <li>Privacy Policy</li>
          <li>License</li>
          <li>Security</li>
        </ul>
      </div>
    </div>
    <br><br>
    <div class="divider mb-4"> </div>
    <div class="row" style="font-size:10px;">
      <div class="col-md-6 col-sm- 2col-xs-3">
        <div class="pull-left" style="margin-left: 10%;">
          <p style="color: #949C9E;font-family: 'Roboto';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;">@2022 All rights reserved</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-6">
        <div class="pull-right mr-4 d-flex policy">
          <div class="social mt-2 mb-3"><img width="24" height="24"
              src="https://img.icons8.com/material-outlined/24/FFFFFF/instagram-new--v1.png"
              alt="instagram-new--v1" />&nbsp; <img width="24" height="24"
              src="https://img.icons8.com/ios-filled/24/FFFFFF/facebook-new.png" alt="facebook-new" />&nbsp;
            <img width="24" height="24" src="https://img.icons8.com/ios-filled/24/FFFFFF/linkedin.png" alt="linkedin" />
            &nbsp; <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/FFFFFF/twitter--v1.png"
              alt="twitter--v1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>